.header__link {
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
}

.header__link:hover {
    opacity: 0.3;
}

.header__link:active {
  color: #de4f12;
}

.header__link:visited {
  color: #748ae3;
}