.footer__column-links {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    min-height: 10px;
  }