.page {
  position: relative;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: Helvetica Neue, Arial, sans-serif;
}

 

.main {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color:  #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  z-index: 1;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* .header__square-pic { */
  /* height: 568px; */
  /* width: 568px; */
/* } */

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark { */
  /* width: 200px; */
  /* color: white; */
  /* margin-right: 0px; */
  /* margin-top: 80px; */
 /* }  */

.header__logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.header__link:link {
  text-decoration: none;
  color: #2f80ed;
}  
  
.header__link:visited {
  text-decoration: none;  
  color: #748ae3;
}
  
.header__link:hover {
  text-decoration: none;  
  color: #1795d4;
}
  
.header__link:active {
  text-decoration: none;  
  color: #de4f12;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: -1;
}

.content {
  display: block;
  position: relative;
  margin: 0;
  background-color: white;
}

.description {
  position: relative;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0 auto;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  margin: 0;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  position: relative;
  margin-top: 100px;
  background-color: white;
}

.section-title {
  margin: 100px auto 0 auto;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  position: relative;
  width: 1100px;
  margin: 0 auto 100px auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  min-height: 790px;
  padding-top: 0;
  z-index: 1;
}

.feynman__title {
  position: relative;
  width: 648px;  
  margin: auto;
  line-height: 1.15;
  font-weight: bold;
  font-size: 120px;
  text-align: center;
}


.feynman__subtitle {
  position: relative;
  padding-top: 70px;
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;  
}

.feynman__link:link {
  right: 48px;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}  
  
.feynman__link:visited {
  right: 48px;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;  
  color: #748ae3;
}
  
.feynman__link:hover {
  right: 48px;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;  
  color: #1795d4;
}
  
.feynman__link:active {
  right: 48px;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;  
  color: #de4f12;
}

.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.kaufman__section-title_theme_dark {
  position: relative;
  margin: 90px auto 0 auto;
  width: 60%;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

 .kaufman__section-subtitle_theme_dark {
  position: relative;
  width: 60%;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.kaufman__table_theme_dark {
  max-width: 1100px;
  margin-bottom: 90px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kaufman_table__cell_theme_dark {
  width: 200px;
  flex-direction: column;
  margin-top: 80px;
}

.kaufman_table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.kaufman_table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;  
  z-index: -1;
}



.footer {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__columns_content_copyright {
  min-height: 250px;
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__columns_content_info{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_columns__content_socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_columns__logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  right: 0;
  bottom: 0;
}

.footer_columns__column-heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  margin:0 0 20px 0;
}

.footer_columns__column-link:link {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  height: 16px;
}  
  
.footer_columns__column-link:visited {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: grey;
  text-decoration: none;
  height: 16px;
}
  
.footer_columns__column-link:hover {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: rgb(150, 187, 187);
  text-decoration: none;
  height: 16px;
}
  
.footer_columns__column-link:active {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: red;
  text-decoration: none;
  height: 16px;
}

.footer_columns__column-link {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  height: 16px;
}

.footer_columns__column-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0;
  min-height: 10px;
}

.footer_columns__content_social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}