.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.3;
}

.khan__buy-link:active {
  color: #de4f12;
}

.khan__buy-link:visited {
  color: #748ae3;
}